@import "../shared.mixins";
:host {
  @include component-border();

  padding: 2px;
  display: flex;
  flex-flow: column;
  width: 100%;
  header {
    display: flex;
    width: 100%;

    >:not(:first-of-type) {
      margin-left:16px;
    }
  }

  main {
    display: flex;
    flex-flow: column;

    >.section {
      margin-top: 8px;
      display: flex;
      justify-content: center;
      > * {
        width: 300px;
      }

      &.large {
        > * {
          width: 600px;
        }
      }
    }
  }
}
